@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");

body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quantico", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #000;
  height: 100vh;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
    color: rgba(255, 255, 255, 0.685);
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
